<h1 class="page-title">Health</h1>

<div class="row stat-widgets">
  <div class="col-md-3 stat-widget" id="router-widget"></div>
  <div class="col-md-3 stat-widget" id="input-recycle-chan-widget"></div>
  <div class="col-md-3 stat-widget" id="inject-recycle-chan-widget"></div>
</div>

<table class="table reports">
  <thead>
    <tr>
      <th class="plugin">Plugin</th>
      <th class="in-channel">In Channel</th>
      <th class="match-channel">Match Channel</th>
      <th class="avg-match-duration">Match Duration</th>
      <th class="processed">Processed</th>
      <th class="injected">Injected</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
