<table class="table plugins decoder-pools">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th class="in-channel hidden-xs">In Channel</th>
      <th class="hidden-xs"><!-- extra column to hold left over width --></th>
    </tr>
  </thead>
</table>
