<td class="name"><span class="glyphicon glyphicon-import"></span> <a href="#plugins/decoders/{{Name}}">{{Name}}</a></td>
<td class="in-channel hidden-xs">
  <div class="progress" title="{{InChanLength.value}}/{{InChanCapacity.value}}">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{InChanLength.value}}" aria-valuemin="0" aria-valuemax="{{InChanCapacity.value}}" style="width: {{InChanPercent}}%;">
      <span class="sr-only">{{InChanPercent}}% Complete</span>
    </div>
  </div>
</td>
<td class="process-failures hidden-xs">{{ProcessMessageFailuresFormatted}}</td>
<td class="process-duration">{{ProcessMessageAvgDurationFormatted}} {{ProcessMessageAvgDuration.representation}}</td>
<td class="processed hidden-xs">{{ProcessMessageCountFormatted}}</td>
