<table class="table plugins decoder-pools">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th class="in-channel">In Channel</th>
      <th><!-- extra column to hold left over width --></th>
    </tr>
  </thead>
</table>
