<td class="name"><span class="glyphicon glyphicon-export"></span> <a href="#plugins/encoders/{{Name}}">{{Name}}</a></td>
<td class="process-failures hidden-xs">{{ProcessMessageFailuresFormatted}}</td>
<td class="process-duration">{{ProcessMessageAvgDurationFormatted}} {{ProcessMessageAvgDuration.representation}}</td>
<td class="processed hidden-xs">{{ProcessMessageCountFormatted}}</td>
