<table class="table plugins encoders">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th class="process-failures">Process Failures</th>
      <th class="avg-process-duration">Process Duration</th>
      <th class="processed">Processed</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
