<table class="table plugins filters">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th class="in-channel">In Channel</th>
      <th class="match-channel">Match Channel</th>
      <th class="avg-match-duration">Match Duration</th>
      <th class="processed">Processed</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
