              <div class="panel panel-default">
                <div class="panel-heading filters_row_holder" role="tab">
                  <h4 class="panel-title">
                    <span>{{Name}}</span>
                  </h4>
                  <div class="progress" title="{{InChanLength.value}}/{{InChanCapacity.value}}"><span class="progress-bar-label">in</span>
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{InChanLength.value}}" aria-valuemin="0" aria-valuemax="{{InChanCapacity.value}}" style="width: {{InChanPercent}}%;">
                      <span class="sr-only">{{InChanPercent}}% Complete</span>
                    </div>
                  </div>
                  {{#hasMatchChannel}}
                  <div class="progress" title="{{MatchChanLength.value}}/{{MatchChanCapacity.value}}"><span class="progress-bar-label">match</span>
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{MatchChanLength.value}}" aria-valuemin="0" aria-valuemax="{{MatchChanCapacity.value}}" style="width: {{MatchChanPercent}}%;">
                      <span class="sr-only">{{MatchChanPercent}}% Complete</span>
                    </div>
                  </div>
                  {{/hasMatchChannel}}
                </div>
              </div>
