<div class="col-sm-3 stat-widget" id="router-widget"></div>
<div class="col-sm-3 stat-widget" id="router-channel-count"></div>
<div class="col-sm-3 stat-widget" id="input-recycle-chan-widget"></div>
<div class="col-sm-3 stat-widget" id="inject-recycle-chan-widget"></div>
