<div class="col-sm-4 stat-widget" id="router-widget"></div>
<div class="col-sm-4 stat-widget" id="input-recycle-chan-widget"></div>
<div class="col-sm-4 stat-widget" id="inject-recycle-chan-widget"></div>
