<h1 class="page-title">Health</h1>

<div class="well">
  <div id="globals-index" class="row"></div>
</div>

<h3>Inputs</h3>
<div id="inputs-index"></div>

<h3>Decoders</h3>
<div id="decoders-index"></div>

<h3>Filters</h3>
<div id="filters-index"></div>

<h3>Outputs</h3>
<div id="outputs-index"></div>

<h3>Encoders</h3>
<div id="encoders-index"></div>
