              <div class="panel panel-default">
                <div class="panel-heading outputs_row_holder" role="tab" id="outputCollapseListGroupHeading{{Name}}">
                  <!--<div class="in-channel hidden-xs">-->
                    <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" href="#outputCollapseListGroup-{{Name}}" aria-expanded="false" aria-controls="outputCollapseListGroup-{{Name}}">
                      {{Name}}
                      </a>
                    </h4>
                    <div class="progress" title="{{InChanLength.value}}/{{InChanCapacity.value}}"><span class="progress-bar-label">in</span>
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{InChanLength.value}}" aria-valuemin="0" aria-valuemax="{{InChanCapacity.value}}" style="width: {{InChanPercent}}%;">
                        <span class="sr-only">{{InChanPercent}}% Complete</span>
                      </div>
                    </div>
                    {{#hasMatchChannel}}
                    <div class="progress" title="{{MatchChanLength.value}}/{{MatchChanCapacity.value}}"><span class="progress-bar-label">match</span>
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{MatchChanLength.value}}" aria-valuemin="0" aria-valuemax="{{MatchChanCapacity.value}}" style="width: {{MatchChanPercent}}%;">
                        <span class="sr-only">{{MatchChanPercent}}% Complete</span>
                      </div>
                     </div>
                     {{/hasMatchChannel}}
                  <!--</div>-->
                </div>
                <div id="outputCollapseListGroup-{{Name}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="outputCollapseListGroupHeading{{Name}}">
                  <ul class="list-group coders_container"></ul>
                </div>
              </div>
