<table class="table plugins outputs">
  <thead>
    <tr>
      <th class="name">Name</th>
      <th class="in-channel hidden-xs">In Channel</th>
      <th class="match-channel hidden-xs">Match Channel</th>
      <th class="avg-match-duration hidden-xs">Match Duration</th>
      <th class="processed hidden-xs">Processed</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
