<h4>{{Name}} {{#hasHeader}}<small><span class="seconds-per-row">{{secondsPerRow}}</span> second aggregation for the last <span class="number-of-hours">{{numberOfHours}}</span></small>{{/hasHeader}}</h4>

<div class="sandbox-graph"></div>
<div class="sandbox-graph-legend">
  {{#legendLabels}}
    <span class="sandbox-graph-legend-control"><label><input type="checkbox" checked="checked" data-label-id="{{id}}" /> {{name}}</labels></span>
  {{/legendLabels}}
</div>
