[UdpInput]
address = "127.0.0.1:29329"
parser_type = "message.proto"
decoder = "ProtobufDecoder"

[ProtobufDecoder]
type = "ProtobufDecoder"

[LogOutput]
type = "LogOutput"
message_matcher = "TRUE"

[default]
type ="StatFilter"
message_matcher = "Type == \"mytype\""

[sample]
type = "StatFilter"
message_matcher = "Type == \"counter\" || Type == \"gauge\""
