body {
  padding-top: 50px;
}

h1.page-title {
  font-size: 280%;
  margin-bottom: 15px;
}

.stat-widgets {
  margin-bottom: 20px;
}

.well {
  background-color: #fafafa;
}

.stat-widget {
  text-align: center;
}

.stat-widget h3 {
  font-size: 18px;
}

.stat-widget h4 {
  font-size: 28px;
}

.stat-widget h5 {
  font-size: 12px;
  text-transform: uppercase;
}

#globals-index h3 {
  margin: 0;
}

table.plugins .name {
  width: 25%;
}

table.plugins .in-channel, table.plugins .match-channel {
  width: 18%;
}

/*table.plugins .avg-match-duration, table.plugins .processed, table.plugins .injected {
  text-align: right;
}*/

table.plugins tr.decoder td.name {
  padding-left: 29px;
}

table.plugins td.name span.glyphicon {
  color: #444;
  margin-right: 4px;
}

table .progress {
  margin-bottom: 0;
}

.sandboxes-show {
  margin-top: 3em;
}

.sandbox-graph {
  width: 100% !important;
  height: 250px !important;
}

.sandbox-graph .dygraph-axis-label {
  color: #777;
  font-size: 11px;
}

.dygraph-legend {
  background: rgba(255,255,255, 0.9) !important;
  left: auto !important;
  right: 0;
  text-align: right !important;
  width: 90% !important;
}

.sandbox-graph-legend {
  background: #f3f3f3;
  border-top: 1px solid #ccc;
  margin-top: 1em;
  padding: 0.5em;
  text-align: right;
}

.sandbox-graph-legend-control {
  display: inline-block;
  margin-right: 0.5em;
}

.sandbox-graph-legend-control label {
  font-size: 12px;
  font-weight: normal;
}
