body {
  padding-top: 50px;
}

h1.page-title {
  font-size: 280%;
  margin-bottom: 15px;
}

.stat-widgets {
  margin-bottom: 20px;
}

.well {
  background-color: #fafafa;
}

.stat-widget {
  text-align: center;
}

#globals-index h3 {
  margin: 0;
}

table.plugins .name {
  width: 25%;
}

table.plugins .in-channel, table.plugins .match-channel {
  width: 18%;
}

/*table.plugins .avg-match-duration, table.plugins .processed, table.plugins .injected {
  text-align: right;
}*/

table.plugins tr.decoder td.name {
  padding-left: 29px;
}

table.plugins td.name span.glyphicon {
  color: #444;
  margin-right: 4px;
}

table .progress {
  margin-bottom: 0;
}
